 :root{
    --accent:#5ea529
    
}
.layout{
    display:grid;grid-template-columns:200px 1fr 180px;gap:16px;max-width:1100px;margin:24px auto;padding:0 16px}

    header{
        grid-column:1/-1;
        background:var(--accent);
        color:#ffffff;padding:12px;
        border-radius:8px;text-align:center
    }

    table{
     font-size: 20px; 
     
    width: 1200;
    height: 200;
    border: 100px;  
    border-color: #01050e ;
}
table, th, td {
    border: 10px solid rgb(14, 2, 2);
    border-collapse: collapse;
}
th {
    color: #D4AF37;   
}
td {
    color: #31690c;  
}